*{
    margin: 0;
    padding: 0;

}
.resultado{
    font-size: 75vh;
    
    text-align: center;
}

#contenedor{
    display: flex;
    justify-content: center;
   
}
#input1, button{
    height: 25px;
}